@use "./base.scss";

// put your custom CSS here!
:root[saved-theme="light"] img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  //filter: invert(1) hue-rotate(180deg);
  mix-blend-mode: multiply;
}

:root[saved-theme="dark"] img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: invert(1) hue-rotate(180deg);
  mix-blend-mode: screen;
}
